@{
    ViewData["Title"] = "Home";
}
<h1>@ViewData["Title"]</h1>

<p>
    The DimDatPro web application was developed as part of the CMPG323 Project 2 requirements. The system was developed
    using ASP.NET MVC core and a SQL Server Database was used to import the given CSV dataset from file. This database
    is lined to the application. A My SQL database was developed for the application to store users data. This site is
    hosted on Amazon Web Service and source code management was done using GitHub. Desing patters such as the NULL object
    pattern, ---insert various patterns here---. Architectural patterns such as  ---insert various patterns here---.
    SOLID principles were applied as:</p>
<p>
    * Single Responsibility ---enter more data here---
    * Open/Closed ---enter more data here---
    * Liskov Substitution ---enter more data here---
    * Interface Segregation ---enter more data here---
    * Dependency Inversion ---enter more data here---
</p>
<p>
    CRUD Functionality---enter more data here---
</p>
<p>
    Database security and access control---enter more data here---
</p>